[Unit]
Description={{ name }} %I
Requires=docker.service
After=docker.service

[Service]
Type=simple
User=root
ExecStartPre=/usr/bin/docker pull {{ image }}
ExecStart=/usr/bin/docker run --rm --network=bridge --name %i {{ image }}
ExecStop=/usr/bin/docker stop %i

[Install]
WantedBy=multi-user.target
